@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: #E2EED3;
}

/*Navbar */

nav {
    width: 100%;
    background-color: #2E6665;
    height: 80px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
}

nav>li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(50px, 10%, 120px);

}

nav>li>a {
    font-size: clamp(8px, 2vw, 16px);
    display: flex;
    justify-content: center;
}
nav a{
    color: #fff;
}
nav button{
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(72, 217, 48, 1);
    border: #fff solid 2px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Comteudo principal */
.editar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 200px 0;
    gap: 20px;
    width: 100%;
}
.editar>form{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.secao1{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;
}
.secao1 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.secao1 input, select{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 55px;
    border-radius: 5px;
    border: #000 solid 1px;
}
#upload-form2{
    display: flex;
    align-items: center;
    border: #000 3px dashed ;
    width: 60%;
    margin: 0 auto;
    height: 150px;
    border-radius: 10px;
}
#upload-form1 {
    display: flex;
    align-items: center;
    border: #000 3px dashed ;
    width: 40%;
    height: 150px;
    border-radius: 10px;
  }
textarea{
    display: flex;
    align-items: center;
    border: #2E6665 1px solid ;
    width: 80%;
    margin: 0 auto;
    height: 150px;
    border-radius: 10px;
    padding: 5px;
}
.secao3{
    display: flex;
    justify-content: space-around;
    gap: 150px;
}
.secao3 input{
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    border: #000 solid 1px;
}
.secao3 button{
    padding: 5px;
    border-radius: 5px;
}
.Excluir{
 background-color: #FF2424;
 color: #fff;
}
.Editar{
    background-color: #2AAF14;
    color: #fff;
}
 
  
  





/*Footer*/

.footer {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer>nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer>nav>li {
    width: 100px;
}

.footer>li {
    width: clamp(80px, 100%, 180px);
}

.footer li a {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;

}

.footer p {
    font-size: clamp(10px, 2vw, 17px);
    color: #fff;
    white-space: nowrap;
}
 