@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: #E2EED3;
}

/*Navbar */

nav{
    background-color: #2E6665;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
}
nav a{
    color: #fff;
}
nav button{
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(72, 217, 48, 1);
    border: #fff solid 2px;
}

main{
   margin: 10%;
}
 
/* Conteudo principal */

.conteudo{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.dados-texto form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dados-texto textarea, input{
    padding: 10px;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: #000 solid 1px;
}
.dados-texto button{
    margin-right: 50%;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #2AAF14;
}

#upload-form2{
    display: flex;
    align-items: center;
    border: #000 3px dashed ;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
}
#upload-form1 {
    display: flex;
    align-items: center;
    border: #000 3px dashed ;
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  
  
  
  
  
  /*Footer*/

  footer li a{
    display: flex;
    align-items: center;
    padding: 10px;
    }
    footer p{
    color: #fff;
    }   
 