@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: #E2EED3;
}

/*Navbar */

nav {
  width: 100%;
  background-color: #2E6665;
  height: 80px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
}

nav>li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(50px, 10%, 120px);

}

nav>li>a {
  font-size: clamp(8px, 2vw, 16px);
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
}

.ancora-img>a>img {
  width: clamp(30px, 100%, 50px);
  height: clamp(30px, 100%, 50px);
}

.barra-de-pesquisa {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

main{
    display: flex;
    flex-direction: column;
}

/* Conteudo */
/*  carousel */
.carousel-container {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.carousel-images {
  display: flex;
  width: 1000px;
  transition: transform 0.3s ease-in-out;
}

.carousel-images img {
  margin-right: 10px;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.151);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

/*  carousel */

.conteudo{
    display: flex;
    justify-content: flex-start;  
    margin-top: 10%;
    gap: 5%;
    flex-wrap: wrap;
}
.conteudo h1{
   font-size: 40px;
}
.conteudo-do-produto{
    display: flex;
    flex-direction: column;
    gap: 3%;
}
.buttons button{
    padding: 5px;
    border-radius: 7px;
}
.comprar{
    background-color: #48D930;
   
}
.comprar a {
    color: #fff;
}
.adiconar{
    background-color: #524545;
}
/* protudos */
main h1{
   color: #884A37;
   font-size: 25px;
   margin-top: 5%;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15%;
  
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10%;
}
.product-container>a{
  width: 100%;
}
.product {
  display: flex;
  flex-direction: column;
  width: clamp(250px, 100%, 450px);
  height: 290px;
  margin: 20px;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.product img {
  max-width: 100%;
  height: auto;
  padding: 20px;
}

.product h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.product p {
  font-weight: bold;
}

.product button {

  padding: 5px;
  border: 1px solid #2E6665;
  border-radius: 5px;
  color: #2E6665;
  font-size: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .product {
    width: 45%;
  }
}

.parte-inferior{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
}

.parte-inferior p{
  font-size: 10px;
  color: #2AAF14;
}

.text-juros{
  margin-top: 5px;
  font-size: 10px;
}


.footer {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer>nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer>nav>li {
  width: 100px;
}

.footer>li {
  width: clamp(80px, 100%, 180px);
}

.footer li a {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;

}

.footer p {
  font-size: clamp(10px, 2vw, 17px);
  color: #fff;
  white-space: nowrap;
}