@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: #E2EED3;
}

/*Navbar */

nav{
    background-color: #2E6665;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
}
nav a{
    color: #fff;
}
nav button{
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(72, 217, 48, 1);
    border: #fff solid 2px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Comteudo principal */
.editar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    gap: 20px;
}
.secao1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.secao1 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.secao1 input, select{
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 55px;
    border-radius: 5px;
    border: #000 solid 1px;
}
#upload-form2{
    display: flex;
    align-items: center;
    border: #000 3px dashed ;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
}
#upload-form1 {
    display: flex;
    align-items: center;
    border: #000 3px dashed ;
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
textarea{
    display: flex;
    align-items: center;
    border: #2E6665 1px solid ;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
    padding: 5px;
}
.secao3{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.secao3 input{
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    border: #000 solid 1px;
}
.secao3 button{
    padding: 5px;
    border-radius: 5px;
}
.Excluir{
 background-color: #FF2424;
 color: #fff;
}
.Editar{
    background-color: #2AAF14;
    color: #fff;
}
 
  
  





/*Footer*/

footer li a{
    display: flex;
    align-items: center;
    padding: 10px;
    }
    footer p{
    color: #fff;
    }   
 