@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: #E2EED3;
}

/*Navbar */

nav{
    background-color: #2E6665;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
}
nav a{
    color: #fff;
}
nav button{
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(72, 217, 48, 1);
    border: #fff solid 2px;
}

main{
   margin: 10%;
}

/* Conteudo principal */

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.flor h1{
    
    font-size: 50px;
}
h2{
    margin-right: 50%;
    color: #884A37;
    font-size: 20px;
}
.dados{
    background-color: #2E6665;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
}
.dados ol{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.dados li{
    color: #fff;
}
.button{
    margin-right: 50%;
}
.button button{
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    background-color: #FF2424;
}


 /*Footer*/

 footer li a{
    display: flex;
    align-items: center;
    padding: 10px;
    }
    footer p{
    color: #fff;
    }   
 