*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    color: initial;
  }