@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: #E2EED3;
}

/*Navbar */

nav{
    background-color: #2E6665;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
}
a{
    color: #fff;
}
.ancora{
    margin-top: 30px;
}
.barra-de-pesquisa{
    margin-top: 25px;
    padding: 6px;
    border: 2px solid #0000;
    border-radius: 5px;
}
.ancora-img{
  margin-top: 15px;
}


/*Primeiro carrossel */


.carouselprodutos {
    overflow: hidden;/* Permite que o carrosel sai da pagina sem que apreça uma bara de rolagem horizontal */
    width: 100%; 
    height: 500px;
    margin: auto; /* centraliza horizontalmente e verticalmente */
  }
  
  .carousel-inner {
    display: flex;
    width: 2500px;
    height: 300px;
    transition: transform 0.3s ease;
    gap: 50px;
    margin-top: 5%;
  }
  
  .carousel-inner div {
    width: 700px;
    height: 300px;
    background-color: #fff;
    border-radius: 30px;
  }
  .carouselprodutos:hover .carousel-inner {
    transform: translateX(-10px);
  }
  .itens{
    display: flex;
    padding: 0px;
    align-items: center;
    padding-right: 50px;
    gap: 80px;
  }
  .conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .titulo{
    color: #B21D61;
    font-size: 30px;
  }
  .titulo2{
    color: #DF959A;
    font-size: 30px;
  }
  .titulo3{
    color: #A79168;
    font-size: 30px;
  }
  .button-details {
    display: flex;
    border: 3px solid #2E6665;
    color: #2E6665;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: auto;
  }




