@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body{
   background-image: url(../IMG/background.png);
   background-size: cover; /* ajusta a imagem para cobrir todo o corpo */
   margin: auto;
}

/*Navbar */

nav{
    background-color: #2E6665;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
}
nav a{
    color: #fff;
}
.ancora{
    margin-top: 30px;
}
.barra-de-pesquisa{
    margin-top: 25px;
    padding: 6px;
    border: 2px solid #0000;
    border-radius: 5px;
}
.ancora-img{
  margin-top: 15px;
}

/*Campo de cadastro */

main{
    display: flex;
    justify-content: flex-end;
    margin-top: 10%;
    margin-right: 10%;
}
.text1{
  margin-top: -100px;
}
.texto{
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.cadastro {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fafafa;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .cadastro form input[type="email"],
  .cadastro form input[type="password"]{
    border: #38383877 solid 2px;
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    margin-top: 25px;
  }
   
  .cadastro form button[type="submit"] {
    display: block;
    margin-left:34%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2AAF14;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
    
  }
  .cadastro h1{
   margin-right: 40%;
  }
  .cadastro p a{
    margin-top: 20px;
    color: #0057FF;
  
  }


  /*Footer*/
footer li a{
    display: flex;
    align-items: center;
    padding: 10px;
}
footer p{
    color: #fff;
}
 