@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: #E2EED3;
}

/*Navbar */

nav{
    background-color: #2E6665;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
}
nav a{
    color: #fff;
}
nav button{
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(72, 217, 48, 1);
    border: #fff solid 2px;
}
main{
    margin: 10%;
}
/* Comteudo principal */
 
 /* Filtro */
 .conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
.conteudo select{
    padding: 10px;
    width: 100%;
    border: #2E6665 solid 1px;
    border-radius: 15px;
}

.itens{
    background-color: #2E6665;
    padding: 15px;
    border-radius: 10px;
}
.itens p{
    color: #fff;
}
.iten{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}
.conteudo button{
    margin-top: 5%;
    margin-left: 80%;
    padding: 5px;
    border-radius: 5px;
    background-color: #2AAF14;
}
.conteudo a{
    color: #fff;
}

 
 
 
 /*Footer*/

 footer li a{
    display: flex;
    align-items: center;
    padding: 10px;
    }
    footer p{
    color: #fff;
    }   
 