@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #E2EED3;
}


/*Navbar */

nav{
    background-color: #2E6665;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
}
nav a{
    color: #fff;
}
.ancora{
    margin-top: 30px;
}
.barra-de-pesquisa{
    margin-top: 25px;
    padding: 6px;
    border: 2px solid #0000;
    border-radius: 5px;
}
.ancora-img{
  margin-top: 15px;
}

/* Campo principal */

  main{
    margin: 10%;
    margin-bottom: 25%;
  }
  
  #chat-container {
    width: 400px;
    height: 500px;
    border: 2px solid #2E6665;
    background-color: #F5F4F4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  #chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
  }
  
  #chat-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
  
  }
  
  #chat-input {
    flex: 1;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
  }

  .conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
  .informacoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .informacoes h1{
    color: #2E6665;
    font-size: 30px;
  }
  .informacoes li, img{
    color: #2E6665;
    display: flex;
    align-items: center;
  }
  .informacoes ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .pergunta{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F5F4F4;
    padding: 10px;
    border-radius: 10px;

  }
  .pergunta h2{
    color: #2E6665;
    font-size: 25px;
  }
  .perguntas{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .perguntas h1{
    margin-top: 20px;
    color: #2E6665;
    font-size: 30px;
  }


  /*Footer*/
footer li a{
    display: flex;
    align-items: center;
    padding: 10px;
}
footer p{
    color: #fff;
}
 