body{
    background-color: #F2DCE4;
}
nav{
    display: flex;
    gap: 37px;
    justify-content: center;
    background-color: #F6F6F6;
    font-family: 'Inter', sans-serif;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    color: #0000;
}
.nav-text{
    padding-top: 35px;
}
.nav-icon{
    padding-top: 20px;
}
.nav-pesquisa{
    padding-top: 30px;
}
.barra-de-pesquisa {
    background-color: #ffffff;
    padding: 5px;
    border: 2px solid #0000;
    border-radius: 5px;
}
.barra-de-pesquisa:hover {
    border: 2px solid #000;
    border-radius: 5x;
}
