*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Share+Tech&display=swap');